<ion-view class="category-feeds-view">
  <ion-nav-title>
    <span>Content Library</span>
  </ion-nav-title>
  <ion-content>
     <div class="post-heading item item-text-wrap">
      <h1 class="post-title">Lorem Ipsum is simply dummy text of the</h1>
      <p class="post-author">
        By <span>Mr.Abc</span> <span>10 March 2016</span>
      </p>
    </div>
    <div class="post-content item item-text-wrap" post-content>
      <p class="post-text" dynamic-anchor-fix>
		 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer 
		</p>
    </div>
    <div class="post-tags item item-text-wrap">
      <span class="post-tag button button-small button-outline button-stable" >Category title</span>
    </div>
  </ion-content>
  
<!--     <ion-footer-bar class="post-footer bar bar-footer bar-dark">
    <div class="row">
	<div class="col col-20 col-center">
        <a class="button button-icon icon icon-right ion-plus" bigger-text=".post-view .post-text">A</a>
      </div>
      <div class="col col-20 col-center">
        <a class="button button-icon icon icon-right ion-minus" smaller-text=".post-view .post-text">A</a>
      </div>
      <div class="col col-20 col-offset-20 col-center">
        <a class="button button-icon icon ion-heart"></a>
      </div>
      <div class="col col-20 col-center">
        <a class="button button-icon icon ion-android-share-alt" ng-click="sharePost(post.url)"></a>
      </div>
    </div>
  </ion-footer-bar> -->
  
  
</ion-view>
