<ion-view class="category-feeds-view">
  <ion-nav-title>
    <span>Content Library</span>
  </ion-nav-title>
  <ion-content>
    <div class="list category-feeds">
      <a  class="item item-icon-right" ui-sref="app.content-library-list">
        <div class="thumbnail-outer">
          <pre-img ratio="_1_1" helper-class="">
            <img class="thumbnail" ng-src="img/ionic.png" spinner-on-load>
          </pre-img>
        </div>
        <div>
          <span class="title">Dermatology</span>
          <p class="description">Lorem ipsum rem ipsum rem ipsum</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
	  
	   <a  class="item item-icon-right" ui-sref="app.content-library-list">
		  <div class="thumbnail-outer">
          <pre-img ratio="_1_1" helper-class="">
            <img class="thumbnail" ng-src="img/ionic.png" spinner-on-load>
          </pre-img>
        </div>
        <div>
          <span class="title">Mind & Wellness</span>
          <p class="description">Lorem ipsum rem ipsum rem ipsum</p>
        </div>
        <i class="icon ion-arrow-right-c"></i>
      </a>
	  
    </div>
  </ion-content>
</ion-view>
