<ion-view class="category-list-view">
  <ion-nav-title>
    <span>About</span>
</ion-nav-title>

  <ion-content>
 <div class="tabcon2"> 
                      <div class="item item-divider">Consultation Details</div>
					   
					   <label class="item item-input item-select">
						   <div class="input-label">
							Patient
							</div>
							<select>
							  <option selected>Patient</option>
							  <option >Patient</option>
							  <option>Patient</option>
							  <option>Patient</option>
							  <option>Patient</option>
							</select>
						  </label>	
						  
						  
						  <label class="item item-input item-select">
						   <div class="input-label">
							Doctor
							</div>
							<select>
							  <option selected>Doctor</option>
							  <option >Doctor</option>
							  <option>Doctor</option>
							  <option>Doctor</option>
							  <option>Doctor</option>
							</select>
						  </label>	 
						   

					     <label class="item item-input ">
							<span class="input-label">Date</span>
							<input type="date">
						 </label>
							
						 <label class="item item-input">
							<span class="input-label">Time</span>
							<input type="time">
						 </label>
						 
						 <label class="item item-input item-select">
						<div class="input-label">
							Mode
						</div>
						<select>
						  <option selected>Video</option>
						  <option >Clinic</option>
						  <option>Home</option>
						  <option>Phone</option>
						  <option>Chat</option>
						</select>
					  </label>
						 
						 
						    <div class="item item-divider">Case Details</div>
						<ion-list>
							<div class="row">
							<div class="col cradio"><ion-radio ng-model="choice" ng-value="'A'" checked>New</ion-radio></div>
							<div class="col cradio"> <ion-radio ng-model="choice" ng-value="'B'">Ongoing</ion-radio></div>
							</div>
						</ion-list>
					 
					   
					    <label class="item item-input">
                            <input type="text" placeholder="Plain Text">
                        </label>
						
						
					  <label class="item item-input item-select">
						<select class="cselect">
						  <option selected>Dropdown</option>
						  <option >Inpatient</option>
						  <option>Emergency</option>
						  <option>Investigations</option>
						</select>
					  </label> 
					   
					   
					   
						
					   
					   <label class="item item-input item-select">
						<div class="input-label">
						Type
						</div>
						<select>
						  <option selected>Outpatient</option>
						  <option >Inpatient</option>
						  <option>Emergency</option>
						  <option>Investigations</option>
						</select>
					  </label> 
					   
					   <label class="item item-input">
						<span class="input-label">Consultation Number</span>
						<input type="text" value="012" readonly>
						</label>
					  
						 
						
						 
							
							
						
						<div class="item item-divider">Other</div>
						
						<label class="item item-input item-stacked-label">
						
							<textarea rows="4" cols="50"> </textarea>
						  </label>	
					 </div>
					 
					 
					 
					
					 
					 

  </ion-content>
  <div class="fixedbar">
  <a class="button btn-delete" ui-sref="app.consultations-note" ><i class="ion-close"></i> Cancel</a>
	  <div class="button btn-add"><i class="ion-checkmark"></i> Save</div>
	</div>
  
</ion-view>