<ion-view class="category-list-view">
  <ion-nav-title>
    <span>Patient History</span>
</ion-nav-title>

  <ion-content>
  <div class="tabcontainer">
					
						<label class="item item-input item-select">
							<div class="input-label">
								Blood Group
							</div>
							<select>
							<option selected>A</option>
							  <option >B</option>
							  <option>AB</option>
							  <option>O+</option>
							
							</select>
							</label>
					
					
                       <label class="item item-input">
						<span class="input-label">Present History</span>
						<input type="text">
						</label>
					  
						  <label class="item item-input">
							<span class="input-label">Past History</span>
							<input type="text">
							</label>
						  <label class="item item-input">
							<span class="input-label">Personal History</span>
							<input type="text">
							</label>
						  <label class="item item-input">
							  <span class="input-label">Family History</span>
							<input type="text">
							</label>
							
							  <label class="item item-input">
							<span class="input-label">Menstrual & Obstretic History</span>
							<input type="text">
							</label>
							  <label class="item item-input">
							<span class="input-label">Socio-economic status</span>
							<input type="text">
							</label>
						
							<label class="item item-input item-select">
							<div class="input-label">
							Immunization History
							</div>
						 	<select>
							<option selected>option1</option>
							  <option >Option2</option>
							  <option>Option3</option>
							  <option>Option4</option>
							
							</select>
							</label>
						
						
						
						
						
							<div class="item item-divider">Allergy Status</div>
							<ion-list>
							<div class="row">
							<div class="col cradio"><ion-radio ng-model="choice" ng-value="'A'" checked>Option</ion-radio></div>
							<div class="col cradio"> <ion-radio ng-model="choice" ng-value="'B'">Option</ion-radio></div>
							</div>
							</ion-list>
						
						
						<label class="item item-input">
						<span class="input-label">Allergy History</span>
						<input type="text">
						</label>
							
					  
					
					  
					  	<div class="item item-divider mt10">Other Informations
						<div class="ion-plus-circled icon-addbtn"></div>
						</div>
						<label class="item item-input">
						<input type="text" placeholder="Enter Text">
						</label>
					  
					  
					  
                    </div>
                  
	  
	  
 
  </ion-content>
</ion-view>