<ion-view class="category-list-view">
  <ion-nav-title>
    <span>Patient History</span>
</ion-nav-title>

  <ion-content>
  <div class="">
  
  <div class="item item-divider">Contact Information</div>
					<label class="item item-input">
						<span class="input-label">Mobile</span>
						<input type="tel">
						</label>
  
						<label class="item item-input">
						<span class="input-label">Email</span>
						<input type="email">
						</label>
					
			  <div class="item item-divider">Basic Information</div>		
					
						<label class="item item-input">
						<span class="input-label">Birth Date</span>
						<input type="date">
						</label>	
					
					
						
						<ion-list>
							<div class="row">
							<div class="col"><span class="input-label"style="padding: 7px 10px 7px 7px;">Gender</span></div>
							
							<div class="col cradio"><ion-radio ng-model="choiceb" ng-value="'A'" checked>Male</ion-radio></div>
							<div class="col cradio"> <ion-radio ng-model="choiceb" ng-value="'B'">Female</ion-radio></div>
							</div>
							</ion-list>
					
					
						<label class="item item-input item-select">
							<div class="input-label">
								Blood Group
							</div>
							<select>
							<option selected>A</option>
							  <option >B</option>
							  <option>AB</option>
							  <option>O+</option>
							
							</select>
							</label>
							
							<div class="item item-divider">Known Conditions
								
								<button class="Cstmbutn button-small mb15 col-25" style="float:right; padding:0;" ng-controller="knowConditionCtrl" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> Add </button>
							</div>	
							 	
							<div class="knowcondition"> </div>
							
							
							
							   <div class="flexcont">
								<div class="innerdiv col-50 brdright">
									<div class="item item-divider">Allergies</div>
									<div class="p10">
										<button  class="Cstmbutn button-small mb15" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> Add</button>
										<!-- <div class="custombtn" ng-click="gotopage('app.patient-history')">Patient</div>  -->
									</div>
								</div>
								<div class="innerdiv col-50">
									<div class="item item-divider">Vaccinations</div>
									<div class="p10">
										<button class="Cstmbutn button-small mb15" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> Add </button>	
									</div>
								</div>
							</div>
						 </div>
     </ion-content>
      <div class="fixedbar">
		<a class="button btn-delete" ui-sref="app.consultations-note" ><i class="ion-close"></i> Cancel</a>
	    <a class="button btn-add" ui-sref="app.consultations-note" ><i class="ion-checkmark"></i> Save</a>
	</div>
</ion-view>






<script id="knowcondition" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Known Conditions</h1>	 
  <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>
	
		<ion-list>
			<ion-checkbox>Cancer</ion-checkbox>
			<ion-checkbox>Cholesterol</ion-checkbox>
		   <ion-checkbox>Diabetes Type 1</ion-checkbox>
		   <ion-checkbox>Diabetes Type 2</ion-checkbox>
		   <ion-checkbox>Hairloss</ion-checkbox>
		   <ion-checkbox>Heart Condition or Incident</ion-checkbox>
		   <ion-checkbox>Hypertension</ion-checkbox>
		   <ion-checkbox>Infertility</ion-checkbox>
		   <ion-checkbox>Neurological Condition</ion-checkbox>
		   <ion-checkbox>Psoriasis, eczema or any other skin condition</ion-checkbox>
		</ion-list>


    </ion-content>
    <div class="fixedbar">
    <div class="button btn-add"  ng-click="modal.hide()" ><i class="ion-check"></i> Submit</div>

    </div>
    </ion-modal-view>
</script>






