<ion-view class="rjoin-view">
    <ion-nav-title>
        <span>Chat</span>
    </ion-nav-title>

    <ion-content>
		<div class="row tabnav bgwhite">
		<div class="col brdrht"><a  ui-sref="app.createdbyu" ><i class="icon ion-folder"></i> Record</a></div>
		<div class="col brdrht"><a  ui-sref="app.consultations-note"><i class="icon ion-plus-circled"></i> Note</a></div>
		<div class="col"><a  ui-sref="#"><i class="icon ion-plus-circled"></i> Appt</a></div>
	   </div>	
	   
	   
	<section id="chat"></section>
	
	
	 
	 
	 
	  <section id="connected-as" style="position: absolute;
    top: 500px;
    width: 100px;">
      <button ng-click="connect('{{tokenAlice}}');">Connect as Naresh</button>
      <button ng-click="connect('{{tokenBob}}');">Connect as Leena</button>
    </section>
   
	
	<div class="clr"></div>
	
	  
	  
    </ion-content>
<!--     <div class="sticyfooter">
       <div id='chatbox' class="
	   
	   chatbox"><input type='text' class="chatfield" name='msg' /><button ng-click="send()" class="chatbtn">Send</button></div>
    </div> -->
</ion-view>