<ion-view class="records-view">
    <ion-nav-title>
        <span>Basic Information</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-person"></button>
    </ion-nav-buttons>


    <ion-content>
        <div class="ctab">
            <ion-tabs class="tabs-positive tabs-icon-top">                
                <!-- =========== Upcoming ===========-->
                <ion-tab title="About" >
                    <div class="tabcon2"> 
                      <div class="item item-divider">Case Type</div>
						<ion-list>
							<div class="row">
							<div class="col cradio"><ion-radio ng-model="choice" ng-value="'A'" checked>New</ion-radio></div>
							<div class="col cradio"> <ion-radio ng-model="choice" ng-value="'B'">Ongoing</ion-radio></div>
							</div>
						</ion-list>
					   <label class="item item-input">
						<span class="input-label">Select from existing </span>
						<input type="text">
					  </label>
					   
					    <label class="item item-input">
						<span class="input-label">Case Name*</span>
						<input type="text">
						</label>
					   
					   <label class="item item-input item-select">
						<div class="input-label">
						Consultation Type
						</div>
						<select>
						  <option selected>Outpatient</option>
						  <option >Inpatient</option>
						  <option>Emergency</option>
						  <option>Investigations</option>
						</select>
					  </label> 
					   
					   <label class="item item-input">
						<span class="input-label">Consultation Number</span>
						<input type="text" value="012" readonly>
						</label>
					    <div class="item item-divider">Consultation Date & Time</div>
					   
					     <label class="item item-input ">
							<span class="input-label">Date</span>
							<input type="date">
						 </label>
							
						 <label class="item item-input">
							<span class="input-label">Time</span>
							<input type="time">
						 </label>	
							
						<label class="item item-input item-select">
						<div class="input-label">
						Consultation Mode
						</div>
						<select>
						  <option selected>Video</option>
						  <option >Clinic</option>
						  <option>Home</option>
						  <option>Phone</option>
						  <option>Chat</option>
						</select>
					  </label>	
						
						<div class="item item-divider">Other</div>
						
						<label class="item item-input item-stacked-label">
						
							<textarea rows="4" cols="50"> </textarea>
						  </label>	
					 </div>
                </ion-tab>

                <ion-tab title="Patient History" >
                    <div class="tabcontainer">
                       <label class="item item-input">
						<span class="input-label">Present History</span>
						<input type="text">
						</label>
					  
						  <label class="item item-input">
							<span class="input-label">Past History</span>
							<input type="text">
							</label>
						  <label class="item item-input">
							<span class="input-label">Personal History</span>
							<input type="text">
							</label>
						  <label class="item item-input">
							  <span class="input-label">Family History</span>
							<input type="text">
							</label>
							
							  <label class="item item-input">
							<span class="input-label">Menstrual & Obstretic History</span>
							<input type="text">
							</label>
							  <label class="item item-input">
							<span class="input-label">Socio-economic status</span>
							<input type="text">
							</label>
						
							<label class="item item-input item-select">
							<div class="input-label">
							Immunization History
							</div>
						 	<select>
							<option selected>option1</option>
							  <option >Option2</option>
							  <option>Option3</option>
							  <option>Option4</option>
							
							</select>
							</label>
						
						
						
						
						
							<div class="item item-divider">Allergy Status</div>
							<ion-list>
							<div class="row">
							<div class="col cradio"><ion-radio ng-model="choice" ng-value="'A'" checked>Option</ion-radio></div>
							<div class="col cradio"> <ion-radio ng-model="choice" ng-value="'B'">Option</ion-radio></div>
							</div>
							</ion-list>
						
						
						<label class="item item-input">
						<span class="input-label">Allergy History</span>
						<input type="text">
						</label>
							<label class="item item-input item-select">
							<div class="input-label">
							Blood Group
							</div>
							<select>
							<option selected>A</option>
							  <option >B</option>
							  <option>AB</option>
							  <option>O+</option>
							
							</select>
							</label>
					  
						<div class="item item-divider prelative formheading">
						Known Conditions
					  	<div class=" text-right">
						  <div class="button caddbtn" ng-click="showPopup()">Add/ Edit</div>
						</div>
						</div>
					  
					  	<div class="item item-divider mt10">Dynamic Input
						<div class="ion-plus-circled icon-addbtn"></div>
						</div>
						<label class="item item-input">
						<input type="text" placeholder="Enter Text">
						</label>
					  
					  
					  
                    </div>
                
				</ion-tab>
                <ion-tab title="Family History" >
                    <!-- Tab 1 content -->
					 <div class="tabcontainer">
					 <div class="text-right">
					 <button class="button m15"  ng-click="addreltion()"><span class="ion-plus-circled"></span> Add Relation</button> 
					 </div>
					 
					 
					 
					 
                       <label class="item item-input">
						<span class="input-label">Present History</span>
						<input type="text">
						</label>
					  
					  <label class="item item-input">
						<span class="input-label">Past History</span>
						<input type="text">
						</label>
					  <label class="item item-input">
						<span class="input-label">Personal History</span>
						<input type="text">
						</label>
					  <label class="item item-input">
						<span class="input-label">Family History</span>
						<input type="text">
						</label>
						
						  <label class="item item-input">
						<span class="input-label">Menstrual & Obstretic History</span>
						<input type="text">
						</label>
						  <label class="item item-input">
						<span class="input-label">Socio-economic status</span>
						<input type="text">
						</label>
						
							<label class="item item-input item-select">
							<div class="input-label">
							Immunization History
							</div>
							<select>
								<option selected>option1</option>
							  <option >Option2</option>
							  <option>Option3</option>
							  <option>Option4</option>
							
							</select>
							</label>
						
						
						
						
						
							<div class="item item-divider">Allergy Status</div>
						<ion-list>
							<div class="row">
							<div class="col cradio"><ion-radio ng-model="choice" ng-value="'A'" checked>Option</ion-radio></div>
							<div class="col cradio"> <ion-radio ng-model="choice" ng-value="'B'">Option</ion-radio></div>
							</div>
						</ion-list>
						
						
						<label class="item item-input">
						<span class="input-label">Allergy History</span>
						<input type="text">
						</label>
						<label class="item item-input">
						<span class="input-label">Blood Group</span>
						<input type="text">
						</label>
					  
                    </div>
                
                </ion-tab>
            </ion-tabs>
        </div>
    </ion-content>

    <div class="footerbar">

        <a class="button" ui-sref="app.evaluation" style="width:100%">Next <i class="icon ion-arrow-right-c"></i></a>
    </div>

</ion-view>

