<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Consultations</span>
    </ion-nav-title>
    <!--   <ion-nav-buttons side="right">
          <button class="button button-icon button-clear ion-person"></button>
      </ion-nav-buttons> -->
    <ion-content>
	<div class="row tabnav">
		<div class="col"><a nav-clear menu-close ui-sref="app.doctor-consultations" class="active" >Active</a></div>
		<div class="col"><a nav-clear menu-close ui-sref="app.consultation-past">Past</a></div>
		 </div>	
	<div class="ctab page-data">
	 <ion-tabs class="tabs-positive tabs-icon-top">

                                <ion-tab title="Today({{todays_app.length}})" >
                                    <div class="tabcontainer p0">
                                        <h4 class="txt-center"> {{todays_app.length==0? 'No appointments': ''}}</h4>
                                        <div class="posts-list" ng-repeat="app in todays_app" ><!--| orderBy: '-appointments.scheduled_start_time'-->
                                            <div  class="list card post-item" ng-repeat="prod in todays_products[$index]">
                                                <div class="post-content item item-text-wrap p0">
                                                    <a ui-sref="app.doctor-current-tab({'id': app.appointment_id})" class="card-content">
                                                        <p ng-repeat="user in todays_usersData[$parent.$index]"><strong>{{user.fname}} {{user.lname}}</strong></p>
                                                        <div class="row">
                                                            <div class="col" ng-if="app.appointments.mode == 2"><p><strong>Appointment Time : </strong>{{app.appointments.scheduled_start_time|dateFormat3}} <br/> 
                                                                    Valid Till {{app.appointments.scheduled_end_time|datetime}} </p></div>
																<div class="col" ng-if="app.appointments.mode != 2"><p><strong>Appointment Time : </strong>{{app.appointments.scheduled_start_time|dateFormat3}} <br/> 
                                                                    {{app.appointments.scheduled_start_time|time}} to {{app.appointments.scheduled_end_time|time}} </p></div>
                                                            <div class="col"><p><strong>Mode</strong> <br/> 
                                                                    {{app.appointments.mode==1 ? 'Video': app.appointments.mode==3? 'Clinic': app.appointments.mode==4? 'Home': app.appointments.mode==2? 'Chat':''}}</p></div>
                                                        </div>

                                                        <div class="clr"></div>
                                                    </a>
                                                    <div class="post-actions  post-footer p0">
                                                        <div class="row cardbtn-small p0">
                                                            <div class="col" ng-if="app.appointments.mode == 1"><a confirmed-click="cancelAppointment(app.appointment_id,prod.user_id,app.appointments.mode, app.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to cancel appointment?" id="{{app.appointment_id}}" class="cbtn cancel"><i class="ion-close"></i> Cancel</a></div>
                                                            <!---<div class="col" ng-if="app.appointments.mode == 1"><a confirmed-click="reschedule(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?"   class="cbtn">Reschedule</a></div>-->
                                                            <div class="col" ng-if="app.appointments.mode == 3 || app.appointments.mode == 4"><a class="cbtn cancel" ng-controller="CancelDctrCtrl" ng-click="cancelApp(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)"><i class="ion-close"></i> Cancel</a></div>
                                                            <div class="col" ng-if="app.appointments.mode == 1"><a ng-click="joinVideo(app.appointments.mode, todays_time[$index], todays_end_time[$index], app.appointment_id)" class="cbtn join"><i class="ion-ios-videocam"></i> Join</a></div>
                                                            <div class="col" ng-if="app.appointments.mode == 2"><a ui-sref="#" class="cbtn"><i class="ion-chatbubble"></i> Chat</a></div>
                                                            <div class="col" ng-if="app.appointments.mode == 3 || app.appointments.mode == 4"><a ui-sref="#" class="cbtn reschedule">Conduct</a></div>
                                                        </div><!----   ng-if="curTime>=todays_time[$index] && curTime<=todays_end_time[$index]" ui-sref="app.doctor-join({'id': app.appointment_id, 'res': 'json'})"   --->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-tab>

                                <ion-tab title="This Week({{week_app.length}})" >
                                    <div class="tabcontainer p0">
                                        <h4 class="txt-center"> {{week_app.length==0? 'No appointments': ''}}</h4> 
                                        <div class="posts-list" ng-repeat="app in week_app" > <!--| orderBy: '-appointments.scheduled_start_time'-->
                                            <div  class="list card post-item" ng-repeat="prod in week_products[$index]">
                                                <div class="post-content item item-text-wrap p0"> 
                                                    <a ui-sref="app.doctor-current-tab({'id': app.appointment_id})" class="card-content">
                                                        <p ng-repeat="user in week_usersData[$parent.$index]"><strong>{{user.fname}} {{user.lname}}</strong></p>
                                                        <div class="row">
                                                            <div class="col"><p><strong>Appointment Time : </strong>{{app.appointments.scheduled_start_time|dateFormat3}} <br/> 
                                                                    {{app.appointments.scheduled_start_time|time}} to {{app.appointments.scheduled_end_time|time}} </p></div>
                                                            <div class="col"><p><strong>Mode</strong> <br/> 
                                                                    {{app.appointments.mode==1 ? 'Video': app.appointments.mode==3? 'Clinic': app.appointments.mode==4? 'Home': app.appointments.mode==2? 'Chat':''}}</p></div>
                                                        </div>                                                        
                                                        <div class="clr"></div>
                                                    </a>
                                                    <div class="post-actions  post-footer p0">
                                                        <div class="row cardbtn-small p0">
                                                            <div class="col"ng-if="app.appointments.mode == 1">
                                                                <a confirmed-click="cancelAppointment(app.appointment_id,prod.user_id,app.appointments.mode, app.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to cancel appointment?" id="{{app.appointment_id}}" class="cbtn cancel"><i class="ion-close"></i> Cancel</a></div>
                                                            <!---div class="col"><a confirmed-click="reschedule(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?"   class="cbtn">Reschedule</a></div>-->
                                                            <div class="col" ng-if="app.appointments.mode == 3 || app.appointments.mode == 4"><a class="cbtn cancel" ng-controller="CancelDctrCtrl" ng-click="cancelApp(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)"><i class="ion-close"></i> Cancel</a></div>
                                                            <div class="col" ng-if="app.appointments.mode == 1"><a ng-click="joinVideo(app.appointments.mode, week_time[$parent.$index], week_end_time[$parent.$index], app.appointment_id)" class="cbtn join"><i class="ion-ios-videocam"></i> Join</a></div>

                                                            <div class="col" ng-if="app.appointments.mode == 3 || app.appointments.mode == 4"><a ui-sref="#" class="cbtn conduct">Conduct</a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-tab>

                                <ion-tab title="All({{all_app.length}})" >
                                    <div class="tabcontainer p0">
                                        <h4 class="txt-center"> {{all_app.length==0? 'No appointments': ''}}</h4>
                                        <div class="posts-list" ng-repeat="app in all_app | orderBy: '-appointments.scheduled_start_time'" ><!---->
                                            <div  class="list card post-item" ng-repeat="prod in all_products[$index]">
                                                <div class="post-content item item-text-wrap p0">
                                                    <a ui-sref="app.doctor-current-tab({'id': app.appointment_id})" class="card-content">
                                                        <p ng-repeat="user in all_usersData[$parent.$index]| orderBy: '-appointments.scheduled_start_time'"><strong> {{user.fname}} {{user.lname}}</strong></p>
                                                        <div class="row">
                                                            <div class="col"><p><strong>Appointment Time : </strong>{{app.appointments.scheduled_start_time|dateFormat3}} <br/> 
                                                                    {{app.appointments.scheduled_start_time|time}} to {{app.appointments.scheduled_end_time|time}} </p></div>
                                                            <div class="col"><p><strong>Mode</strong> <br/> 
                                                                    {{app.appointments.mode==1? 'Video': app.appointments.mode==3? 'Clinic': app.appointments.mode==4? 'Home': app.appointments.mode==2? 'Chat':''}}</p></div>
                                                        </div>
                                                        <div class="clr"></div>
                                                    </a>
                                                    <div class="post-actions  post-footer p0">
                                                        <div class="row cardbtn-small p0">
                                                            <div class="col" ng-if="app.appointments.mode == 1"><a class="cbtn cancel" confirmed-click="cancelAppointment(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to cancel?"><i class="ion-close"></i> Cancel</a></div>
                                                            <!---<div class="col" ng-if="app.appointments.mode == 1"><a confirmed-click="reschedule(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?" class="cbtn">Reschedule</a></div>-->
                                                            <div class="col" ng-if="app.appointments.mode == 3 || app.appointments.mode == 4"><a class="cbtn cancel" ng-controller="CancelDctrCtrl" ng-click="cancelApp(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)"><i class="ion-close"></i> Cancel</a></div>
                                                            <!---<div class="col" ng-if="app.appointments.mode == 3 || app.appointments.mode == 4"><a confirmed-click="reschedule(app.appointment_id, prod.user_id, app.appointments.mode, app.appointments.scheduled_start_time)" ng-confirm-click="Do you really want to reschedule?"   class="cbtn">Reschedule</a></div>-->
                                                            <div class="col" ng-if="app.appointments.mode == 1"><a  ng-click="joinVideo(app.appointments.mode, all_time[$parent.$index], all_end_time[$parent.$index], app.appointment_id)"  class="cbtn join"><i class="ion-ios-videocam"></i> Join</a></div>
                                                            <div class="col" ng-if="app.appointments.mode == 3 || app.appointments.mode == 4"><a ui-sref="#" class="cbtn conduct">Conduct</a></div>
                                                        </div><!--------  ng-if="curTime >= all_time[$index] && curTime <= all_end_time[$index]" ui-sref="app.doctor-join({'id': app.appointment_id, 'res': 'json'})"   --->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ion-tab>
                            </ion-tabs>
	</div>

        
	
	</ion-content>

    <!--   <div class="footerbar">
          <a class="button" ui-sref="#" style="width:50%"><i class="icon ion-funnel"></i> Filter</a>
          <a class="button" ui-sref="#" style="width:50%" ><i class="ion"></i> Sort </a>
      </div> -->


    <script id="canceldctr" type="text/ng-template">
        <ion-modal-view>
        <ion-header-bar class="bar app-top-bar">
        <h1 class="title">Doctor Consultations</h1>	 
        <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
        <div class="list">
        <ion-radio ng-model="can.opt" class="can-opt" name="can-option" value="4">Your No Show</ion-radio><ion-radio ng-model="can.opt" class="can-opt" name="can-option" value="3">Patient No Show</ion-radio><ion-radio ng-model="can.option" name="can-opt" value="2">Cancelled by Patient</ion-radio><ion-radio ng-model="can.opt" name="can-option" value="1">Cancelled by you</ion-radio>
        </div>
        <button class="button button-full button-positive" ng-click="submitmodal(canoption)">Submit</button>
        </ion-content>
        </ion-modal-view>
    </script>
    <script id="canceldr" type="text/ng-template">
        <ion-modal-view>
        <ion-header-bar class="bar app-top-bar">
        <h1 class="title">Doctor Consultations</h1>	 
        <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content>
        <div class="list">
        <ion-radio ng-model="can.opt" name="can-option" class="can-opt" value="2">Cancelled by Patient</ion-radio><ion-radio ng-model="can.opt" class="can-opt" name="can-option" value="1">Cancelled by you</ion-radio>
        </div>
        <button class="button button-full button-positive" ng-click="submitmodal()">Submit</button>
        </ion-content>
        </ion-modal-view>
    </script>
</ion-view>

