<ion-view class="rjoin-view" >
    <ion-nav-title>
        <span> {{user[0].fname}} {{user[0].lname}}</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-click="exitVideo()"> Exit</button>
    </ion-nav-buttons>
    <div class="bar bar-subheader cbar">
        <div class="row">
            <div class="col txt-centre"><h5><a  ui-sref="#">Appointment at {{app[0].appointments.scheduled_start_time|time}}</a></h5></div>
			
			<button class="button flt-right ion-plus" ng-click="addnote();"></button>
        </div>
    </div>
    <ion-content>
        <div class="fltr-mesg"> &nbsp;</div>
        <div class="mediascreen"  >
            <!--<iframe class="videochat" ng-src="{{trustSrc(oToken)}}" ></iframe>-->
            <div id='myPublisherDiv' style="position:absolute;right: 10px;bottom:10px"></div> 
            <div id='subscribersDiv' class="subscribediv">Waiting for patient to join!</div> 
        </div>
    </ion-content>
    <div class="sticyfooter joinfooter">
        <div class="tabs tabs-icon-top">
            <div class="tab-item muteMic" onclick="classtoggle(this)">
				<i class="icon ion-ios-mic"></i>
                <i class="icon ion-ios-mic-off"></i>
                Mic
            </div>
           <!--   <div class="tab-item" onclick="classtoggle(this)" >
                <i class="icon ion-videocamera"></i>
                Video
            </div>
           <a class="tab-item" >
                <i class="icon ion-refresh"></i>
                Switch
            </a>
            <a class="tab-item muteSub" >
                <i class="icon ion-volume-low"></i>
                Valume
            </a> -->
        </div>
    </div>
	



<div class="slideupdiv">
<div class="item item-divider">Consultation Note</div>
    <div class="slideupcontent">
	<ion-list>
			<div class="row">
				<div class="col cradio">
				<ion-radio ng-model="casetype" name="{{field.name}}" ng-value="'1'"  value="1" ng-change="getCase(casetype)" required>New Case</ion-radio>
				</div>
				<div class="col cradio"> <ion-radio ng-model="casetype" name="{{field.name}}" ng-value="'0'" value="0" ng-change="getCase(casetype)" required>Ongoing Case</ion-radio></div>
			</div>
		</ion-list>
		
	<label class="item item-input" id="newcase">
		<input type="text" placeholder="Case" name="new-{{field.name}}" ng-model="formCase" >
	</label>
	<div class="mt15">
	<div class="row tabnav bgwhite">
	<div class="col brdrht"><a class="nbtn ion-image" > Images</a></div>
	<div class="col brdrht"><div class="nbtn ion-medkit" onclick="showpopup('selectnote')"> Notes</div></div>
	<div class="col"><div class="nbtn ion-thermometer" ng-controller="docjnPatientCtrl" ng-click="modal.show();"> Treatment Plan</div></div>
	</div>
	</div>
	</div>
    </div>

    <div class="ciframecontainer active">
        <iframe src="#/app/consultations-note"></iframe>
    </div>




</ion-view>


<div class="custpopup-container" id="selectnote">
<div class="custpopup">
<div class="ncbtn" onclick="close_popup('selectnote')"><i class="ion-close"></i></div>
   <h3 class="heading3">Background</h3>
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-controller="docjnPatientCtrl" ng-click="modal.show();"><span class="icon ion-plus-circled"></span>  Patient</div> 
    </div>
 <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.family-history')"><span class="icon ion-plus-circled"></span>  Family</div> 
    </div>
    </div>
  <h3 class="heading3">Evaluation</h3>
     <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.measurement')"><span class="icon ion-plus-circled"></span> Measurements</div> 
    </div>

    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.testresult')"> <span class="icon ion-plus-circled"></span> Test Results</div> 
    </div>
    </div>  

    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-click="modalclose('app.observation')"> <span class="icon ion-plus-circled"></span> Observations</div> 
    </div>
    </div>

     <h3 class="heading3">Diagnosis</h3>
      
    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-controller="SnowmedtCtrl" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> SNOMED</div> 
    </div>

    <div class="col">
    <div class="Cstmbutn button-small" ng-controller="IcdCtrl" ng-click="modal.show()"><span class="icon ion-plus-circled"></span> ICD</div> 
    </div>
    </div>       

    <div class="row cbtn3">
    <div class="col">
    <div class="Cstmbutn button-small" ng-controller="PlaintestCtrl" ng-click="modal.show()"> <span class="icon ion-plus-circled"></span> Text</div> 
    </div>
    </div>
</div>
</div>



