<ion-view class="category-detail-view">
    <ion-nav-title>
        <span>Dr.Abc</span>
    </ion-nav-title>
    <ion-content>
   

			<div class="list mb0" >
            
            	<div class="posts-list">
					<div  class="list card post-item mb15">
						<div class="post-content item item-text-wrap p0">
							<div  class="card-content paraspacing">
								<div class="cardheading txtcenter">Bhavana  <button style="float:right;"><i class="icon ion-android-create"></i></button></div>
								<div class="row">
								<div class="col txt-left">Female</div>	
								<div class="col txt-right">+91 123456789</div>	
								</div>
								
								<div class="row">
								<div class="col txt-left">27 years</div>	
								<div class="col txt-right">bhavana@infiniteit.biz</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
        </div>		
		
		
		<div class="item item-divider"><i class="icon ion-folder"></i> Records</div>
		<div class="list twocolumn">
			<a class="item" ui-sref="app.createdbyu"><h2 class="ctitle">Created by you    <span class="count2">15</span></h2></a>
			<a class="item" ui-sref="#"><h2 class="ctitle">Shared with you <span class="count2">10</span></h2></a>
			
		</div>	
		
		<div class="item item-divider"><i class="icon ion-chatbubbles"></i> Chat</div>
			<div class="list">
			
				<a class="item" ui-sref="#">
				<h2 class="ctitle">Start <i class="icon ion-arrow-right-c"></i></h2>
				
				</a>
			 
			</div>	
		
		
    </ion-content>

</ion-view>




