<ion-view class="category-detail-view">
    <ion-nav-title>
        <span>Peers</span>
    </ion-nav-title>
    <ion-content>
   

		<div class="row tabnav">
		<div class="col"><a  ui-sref="#" class="active">My Peers</a></div>
		<div class="col"><a  ui-sref="#" >Requests</a></div>
	   </div>	
		
		
		<div class="list list-inset">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search">
                </label>
            </div>
		
		
		<a  ui-sref="app.peers-detail" class="profilelist">
        <div class="item item-divider">
		<i class="icon ion-person"></i> Dr.Abc <div class="item-mob">+9123456789</div></div>
		<div class="list">
			
			<p class="">
				Specialization<br/>
				Focus Area
			</p>
		</div>	
		</a>
		
		<a  ui-sref="app.peers-detail" class="profilelist">
        <div class="item item-divider">
		<i class="icon ion-person"></i> Dr.Xyz <div class="item-mob">+9123456789</div></div>
		<div class="list">
			
			<p class="">
				Specialization<br/>
				Focus Area
			</p>
		</div>	
		</a>
	</ion-content>
</ion-view>




