<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="post-size-14px">
        <ion-nav-bar class="bar app-top-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
        <ion-content>
            <ion-list>
                <ion-item class="heading-item item item-avatar" nav-clear menu-close ui-sref="app.profile" style="padding:0;">
                    <div class="user-image-container">
                        <pre-img ratio="_1_1" helper-class="rounded-image">
                            <img class="user-image" ng-src="https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg" spinner-on-load>
                        </pre-img>
                    </div>
                    <h2 class="greeting">Hi {{username}}, </h2>
                    <p class="message">Welcome</p>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.homepage">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">Home</h2>
                </ion-item>
				
				<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.doctor-consultations">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">Consultations</h2>
                </ion-item>
				
				
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.chat-appointments">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">Chat Appointments</h2>
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.consultations-note">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">Consultaion Note</h2>
                </ion-item>

                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.treatment-plan">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">Treatment plans</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="{{ userLogged == 1 ? 'app.logout' : 'auth.login'}}">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">{{ userLogged == 1 ? 'Logout' : 'Login / Register'}}</h2>
                </ion-item>

                <!---<ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.category-list">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">Category List</h2>
                </ion-item>--->



            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
