<ion-view class="rjoin-view">
    <ion-nav-title>
        <span>Chat</span>
    </ion-nav-title>

    <ion-content>
	
	<section id="chat"></section>
	
	
	 
	 
	 
	  <section id="connected-as" style="position: absolute;
    top: 500px;
    width: 100px;">
      <button ng-click="connect('{{tokenAlice}}');">Connect as Naresh</button>
      <button ng-click="connect('{{tokenBob}}');">Connect as Leena</button>
    </section>
   
	
	<div class="clr"></div>
	
	  
	  
    </ion-content>
<!--     <div class="sticyfooter">
       <div id='chatbox' class="
	   
	   chatbox"><input type='text' class="chatfield" name='msg' /><button ng-click="send()" class="chatbtn">Send</button></div>
    </div> -->
</ion-view>