<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Search Results</span>
    </ion-nav-title>
    <ion-content>
		  <div class="list list-inset txt-center">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text"  value="Crocin">
            </label>
			<button class="button button-positive mt15">Search</button>	
        </div>
	

		<div class="item item-divider ng-binding">Starting with "Crocin"</div>


			<div class="scont" >
            
            	 <div class="posts-list msearchlist">
                <div  class="list card post-item">
                    <div class="post-content item item-text-wrap p0">
                        <a class="lhref p10" ui-sref="app.medicine-details" >
                         <span class="fbold">Crocin</span>
                        <span class="flt-right">10 strips</span>
                        </a>
						
                        <div class="post-actions">
                            <div class="row cardbtn p0">
							<div class="col"><div class="cbtn" ui-sref="#">Add </div></div>
                                <div class="col"><a ui-sref="#" class="cbtn">Disbursement</a></div>
                                
                            </div>
						</div>
					 </div>
				</div>
                </div>

			 <div class="posts-list msearchlist">
                <div  class="list card post-item">
                    <div class="post-content item item-text-wrap p0">
                         <a class="lhref p10" ui-sref="app.medicine-details" >
                         <span class="fbold">Crocin</span>
                        <span class="flt-right">10 strips</span>
                        </a>
						
                        <div class="post-actions">
                            <div class="row cardbtn p0">
							<div class="col"><div class="cbtn" ui-sref="#">Add </div></div>
                                <div class="col"><a ui-sref="#" class="cbtn">Disbursement</a></div>
                                
                            </div>
						</div>
					 </div>
				</div>
                </div>

			 <div class="posts-list msearchlist">
                <div  class="list card post-item">
                    <div class="post-content item item-text-wrap p0">
                       <a class="lhref p10" ui-sref="app.medicine-details" >
                         <span class="fbold">Crocin</span>
                        <span class="flt-right">10 strips</span>
                        </a>
						
                        <div class="post-actions">
                            <div class="row cardbtn p0">
							<div class="col"><div class="cbtn" ui-sref="#">Add </div></div>
                                <div class="col"><a ui-sref="#" class="cbtn">Disbursement</a></div>
                                
                            </div>
						</div>
					 </div>
				</div>
                </div>
           
	</div>		
<div class="scont" >
<div class="item item-divider ng-binding">Other matches</div>


 <div class="posts-list msearchlist">
                <div  class="list card post-item">
                    <div class="post-content item item-text-wrap p0">
                        <div class="p10" >
                         <span class="fbold">Crocin</span>
                        <span class="flt-right">10 strips</span>
                        </div>
						
                        <div class="post-actions">
                            <div class="row cardbtn p0">
							<div class="col"><div class="cbtn" ui-sref="#">Add </div></div>
                                <div class="col"><a ui-sref="#" class="cbtn">Disbursement</a></div>
                                
                            </div>
						</div>
					 </div>
				</div>
                </div>
                </div>


</ion-content>
	
	<div class="fixedbar">
	<a class="button btn-delete" ui-sref="app.disbursement">Cancel</a>
	<a class="button btn-add" ui-sref="app.disbursement">Save </a>
	</div>
</ion-view>